doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        Link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
        title my app
    body(class="container")
        h1 Añadir producto en pug
        form(action="/", method="post") 
            span(class="me-2") Title:
            input(type="text", name="title")
            br
            br
            span(class="me-2") Precio:
            input(type="number", name="price")
            br
            br
            span(class="me-2") img:
            input(type="text", name="thumbnail")
            br
            br
            input(type="submit", value="sumbit")
        br
        a(href="/products")
            button Productos